<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NET NEWS v1.0</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
<!-- 
Summary tuple structure:
summary[0] = id (INTEGER PRIMARY KEY)
summary[1] = feed (TEXT) - The name of the RSS feed
summary[2] = title (TEXT) - The title of the article
summary[3] = link (TEXT) - The URL to the original article
summary[4] = summary (TEXT) - The AI-generated summary of the article
summary[5] = created_date (DATE) - The date the summary was created
-->
{% set ns = namespace(current_first_field=none, todays_date=none) %}
{% for summary in summaries %}
    {% if summary[5] != ns.todays_date %}
        <h1>NET NEWS for {{ summary[5] }}</h1>
        {% set ns.todays_date = summary[5] %}
    {% endif %}
    {% if summary[1] != ns.current_first_field %}
        <h2>{{ summary[1] }}</h2>
        {% set ns.current_first_field = summary[1] %}
    {% endif %}
    <li><a href="{{ summary[3] }}" target="_blank"><strong>{{ summary[2] }}</strong></a> -- {{ summary[4] }}</li>
{% endfor %}

<hr>
<p>NET NEWS v1.0 - Copyright (c) 2025 - <a href="https://jamesburchill.com">James Burchill</a> - All Rights Reserved</p>
</body>
</html>
